#header {width:100%;}
#header #logo_s {position: relative;display: block;height: 50px; background: #618aaa;}
#logo_s img{display: block;padding-top:3px;}
#aboutMe {width:100%;height:1200px;background:  url("../images/main/aboutC.png"),url("../images/main/aboutmeBg.jpg");background-position: 20% 25%, 0 0;background-repeat: no-repeat;background-size:cover;}
#aboutMe p {display: block;font-size:17px;font-weight: bold;}
