#mainHead {width:100%;height:300px;}
.logoWrap {width:100%;height:300px;padding:20px 0;}
.logo {position: relative; width: 200px;height:180px;padding:5px;}
.logo > a   {display:block;position: absolute;text-align:center;left:0;}

.logo .title {width:178px;height:29px;background: url("../images/main/title.png") no-repeat 0 50%;}
.logoWrap p {position: absolute;left:0;top:190px;font-size: 20px;color:#8c8c8c;}

#mainContents {width:100%;height:300px;padding:20px; }
#mainContents .portfolio {background-color: #b6bac3;}
#mainContents .porCon {display: inline-block;width:24.5%;height:200px;background-color: #b6bac3;}
#mainContents .porCon1 {height:190px;background:url("../images/main/porCon1.jpg")  no-repeat;}
#mainContents .porCon2 {height:190px;background:url("../images/main/porCon2.jpg")  no-repeat;}
#mainContents .porCon3 {height:190px;background:url("../images/main/porCon3.jpg")  no-repeat;}
#mainContents .porCon4 {height:190px;background:url("../images/main/porCon4.jpg")  no-repeat;}



